@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


* {
    font-family: Futura, Arial, Helvetica, sans-serif;
}


.hero {

    background-image: url("../images/hero-background.jpg");
  
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    /*font-weight: bold;*/
    color: white;
}

body {
    background-image: url("../images/wood-background.jpg");
}
#drinkName button {
background-color: #132a85;
color: white;
font-size: 48px;
border-radius: 8px;
padding: 0 5px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
min-width: 50%;
margin: 10px auto;

}

#savedCocktails button {
    display: block;
    width: 100%;
    margin: 3px;
}

.liquor-buttons button {
    background-color: #132a85;
    color: white;
    border-radius: 8px;
    border-color: black;
}