@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";


* {
    font-family: Futura, Arial, Helvetica, sans-serif;
}

.hero {
    background-image: url("../images/hero-background.jpg");
    background-size: 100% auto;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}
